[project]
name = "{{ sample_docs_slug }}"
version = "0.1.0"
# Do NOT list Sphinx itself but Sphinx extensions or other dependencies only.
dependencies = [
    "myst-parser==4.0.0",
    "linkify-it-py==2.0.3",
    "sphinx-design==0.6.1",
    "sphinx_copybutton==0.5.2",
    "sphinxcontrib.mermaid==1.0.0",
    "sphinx-reredirects==0.1.5",
    "sphinx-sitemap==2.6.0",
]